<script type="text/ng-template" id="dialogWithNestedConfirmDialogId">
    <div class="ngdialog-message">
        <h3>ngDialog template</h3>

        <p>Dialog containing work in which a user has to perform a task (e.g. editing data).</p>

        <p>'Save' would save the task's actions, while 'Cancel' would cause the task's actions to be lost.</p>

        <p>...other controls here...</p>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">
            Cancel
        </button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('Save')">Save</button>
    </div>
</script>
